<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../src/index-app/login-app.html">
<link rel="import" href="../../src/index-app/user-app.html">
<link rel="import" href="../../src/index-app/account-app.html">
<link rel="import" href="../../src/index-app/movement-app.html">

<dom-module id="controller-app">
  <template>
    <style>
      :host {
        display: none;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <login-app id="login"></login-app>
    <user-app id="user"></user-app>
    <account-app id="accounts"></account-app>
    <movement-app id="movements"></movement-app>

  </template>

  <script>
    class controllerApp extends Polymer.Element {
      static get is() { return 'controller-app'; }
      ready(){
        console.log('controller');
        super.ready()
        this.$.login.addEventListener('OK', e => {this.userLogin(e)})
      }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'controller-app'
          }
        };
      }
      userLogin(e) {
        console.log('user: ' + e.detail);
        this.$.user.viewDataNode(e.detail);
      }
    }

    window.customElements.define(controllerApp.is, controllerApp);
  </script>
</dom-module>
