<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- Añadir el iron-ajax desde bower para nuestra web -->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-app">
  <template>
    <style>
      :host {
        display: none;
      }

      html,body {
        height: 100%;
      }

      .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
      }
      .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
      }
      .form-signin .form-control:focus {
        z-index: 2;
      }
      .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
      .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    </style>
    <!--<h2>Hello [[prop1]]!</h2>-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div class="container-fluid">
      <form class="form-signin">
        <img class="mb-4" src="http://www.cloud10beauty.com/media/wysiwyg/cloud10/default/N250Cloud_10_White_Beauty.png" alt="Logo" height="72">
        <!--<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>-->
        <input type="email" value="{{email::input}}" class="form-control" id="inputEmail" placeholder="Email address" required autofocus>
        <input type="password" value="{{password::input}}" class="form-control" id="inputPassword" placeholder="Password" required>
        <button type="button" on-click="login" class="btn btn-primary btn-lg btn-block">Sign in</button>
      </form>
    </div>
    <iron-ajax
     id="doLogin"
     url="http://localhost:4000/colbbva/v1/login5"
     content-type="application/json"
     method="POST"
     handle-as="json"
     on-response="manageAJAXResponse"
     on-error="showError"></iron-ajax>
  </template>

  <script>
    class loginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'login-app'
          },
          email: {
            type: String
          },
          password: {
            type: String
          },
          isLogged: {
            type: Boolean,
            value: false
          }
        };
      }

      login() {
        var loginData = {"email" : this.email,"password" : this.password}; //Datos a enviar al servidor
        this.$.doLogin.body = JSON.stringify(loginData); //Convertimos el objeto JS a un JSON
        this.$.doLogin.generateRequest(); //Hacemos petición con los datos del formulario del iron-ajax
        console.log("server request");
      }

      manageAJAXResponse(e) {
        console.log("server response");
        //Evento con el cual enviamos los datos al controller-app
        this.dispatchEvent(new CustomEvent('OK', {detail:e.detail.response})); //Lo que recibimos del servidor
        console.log("event controller");
      }

      showError(error) {
        console.log({"msg":error});
        alert('user not found');
      }

    }

    window.customElements.define(loginApp.is, loginApp);
  </script>


</dom-module>
