<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="user-app">
  <template>
    <style>
      :host {
        display: none;
      }

    </style>
    <!--<h2>Hello [[prop1]]!</h2>-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- Image and text -->
    <div class="container-fluid">
      <nav class="navbar fixed-top navbar-dark bg-primary">
        <a class="navbar-brand" href="#">
          <img src="https://s-passets-cache-ak0.pinimg.com/images/user/default_30.png" width="30" height="30" class="d-inline-block align-top" alt="">
             {{fnNode}}
        </a>
        <form class="form-inline my-1 my-lg-0">
          <button class="btn btn-sm btn-secondary" type="button">Logout</button>
        </form>


      </nav>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class userApp extends Polymer.Element {
      static get is() { return 'user-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'user-app'
          },
          idNode:{
            type: String
          },
          fnNode:{
            type: String
          },
          lnNode:{
            type: String
          },
          emNode:{
            type: String
          },
          paNode:{
            type: String
          }
        };
      }

      viewDataNode(data) {
      console.log('request ' + JSON.stringify(data));
      this.idNode = data[0].id;
      this.fnNode = data[0].first_name;
      this.lnNode = data[0].last_name;
      this.emNode = data[0].email;
      this.paNode = data[0].password;
      }

    }

    window.customElements.define(userApp.is, userApp);
  </script>
</dom-module>
